body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
    line-height: 25px; 
}
.test{
    position: relative;
    top: 80px;
    margin-bottom: 700px;
}
.background-header {
    background-image: url(water.png); /* Substitua pelo caminho real da sua imagem */
    background-size: cover;
    background-position: center;
    height: 150px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 1px #333;
    
}
.imagem1 {
    width: 15%;
    position: relative;
    top: 100px;
    right: 200px;
}


.barra-superior {
    background-color: lightblue;
    color: #000000;
    padding: 10px;
    text-align: center;
    height: 100px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    flex: 1;
    padding: 20px;
    text-align: justify;
    margin: auto; 
    max-width: 800px; 
}

